/* slider buttons */
.slick-arrow.slick-prev,
.slick-arrow.slick-next{
background:grey;
border-radius: 100%;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover{
background:brown;
}
/* slider image */
.picture{
    height: 300px;
    width: 100%;
    object-fit : Cover ;
  }