/* schedule box styles */
.box{
    background-color: floralwhite;
    margin: 0px auto;
    min-height: 250px;
    color: darkslateblue;
    width: 70%;
    position: relative;
    top: -30px;
    border: 1px solid white; 
    border-radius: 25px;
}
/* card styles */
.zoom {
    transition: transform .2s; 
    cursor: pointer;

  }
  .zoom a{
    text-decoration: none;
    color: coral;
  }
  
  .zoom:hover {
    transform: scale(1.12);  }
  
