.resource{
    background-color: rgba(204, 172, 172, 0.753);
    min-height: 150px;

}
.info{
    background-image: url('https://img.freepik.com/free-vector/clean-medical-background_53876-116875.jpg?size=626&ext=jpg');
    background-position: center;
    background-size: 100% 100%;
    margin-top: -20px;
}
.info-body li{
list-style: none;
min-height:100px ;
width: 80%;
background-color: rgba(252, 225, 225, 0.753);
border-radius: 15px ;
padding: 20px;
margin: 10px;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next{
background:grey;
border-radius: 100%;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover{
background:brown;
}